@page "/game/{GameId}"
@using BadgerClan.Web.Components.GameComponents
@inject Lobby lobby
@inject NavigationManager NavigationManager

<h3>Game: @game.Name</h3>
@if (game.IsGameOver)
{
    <h2 class="text-success">@game.CurrentTeam.Name wins!</h2>
}
else
{
    <p>Turn: @game.TurnNumber</p>
}

<BoardComponent State=game />

@code {
    [Parameter]
    public required string GameId { get; set; }

    public required GameState game;

    protected override void OnParametersSet()
    {
        if (!lobby.Games.Any(g => g.Id == Guid.Parse(GameId)))
        {
            NavigationManager.NavigateTo("/");
        }

        game = lobby.Games.First(g => g.Id == Guid.Parse(GameId));

        game.GameChanged += (_) => InvokeAsync(StateHasChanged);
        game.GameEnded += (_) => InvokeAsync(StateHasChanged);
    }
}
