@page "/info"


<PageTitle>Information</PageTitle>

<img style="float:right; margin-left: 2em;" src="/android-chrome-512x512.png" alt="Badger Clan" />
<h1>Information</h1>
<div>
    <p>
        If you want to learn more about the hex coordinate system used in Badger Clan,
        this is the <a href="https://www.redblobgames.com/grids/hexagons/">programming reference</a>
        I used to develop the board. I used the "odd-r" offset coordinate system with an Axial 
        coordinate system underneath it.
    </p>
    <p>
        See more rules and Information in the <a href="https://github.com/simper2025/badgerClan">GitHub Repository</a>
    </p>
</div>

@code {


}
