@page "/info"


<PageTitle>information</PageTitle>

<h1>information</h1>

<div>
    <p>
        If you want to learn more about the hex coordinate system used in Badger Clan,
        this is the <a href="https://www.redblobgames.com/grids/hexagons/">programming reference</a>
        I used to develop the board. I used the "odd-r" offset coordinate system with an Axial 
        coordinate system underneath it.
    </p>
</div>

@code {


}
