@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row d-flex justify-content-between align-items-center py-2">
            <!-- Left-aligned links -->
            <div>
                <NavLink class="nav-link me-3" href="" Match="NavLinkMatch.All">
                    <img src="/android-chrome-192x192.png" width="50" alt="Sword" class="me-1" /> BadgerClan Lobby
                </NavLink>
            </div>

            <!-- Right-aligned links -->
            <div>
                <NavLink href="https://github.com/simper2025/BadgerClan" class="text-decoration-none me-3"><img src="/images/github-mark.svg" width="24" alt="GitHub" class="me-1" /> Source Code</NavLink>
                <NavLink href="/info" class="text-decoration-none me-3">Info</NavLink>
                <NavLink href="/testgame" class="text-decoration-none">Test Game</NavLink>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
