@inject Lobby lobby
@inject CurrentUserService CurrentUserService

<div class="bg-body-secondary p-3 border rounded-3">
    <form @onsubmit="create">
        <input type="text" class="form-control mb-1" @bind="gameName" placeholder="Game name" />
        <button class="btn btn-secondary px-3 w-100" type="submit">Create New Game</button>
    </form>
</div>

@code {
    protected override void OnInitialized()
    {
        lobby.LobbyChanged += (e) => InvokeAsync(StateHasChanged);
    }

    string style => lobby.Games.Any() ? "float: right" : "max-width: 250px";
    string gameName = string.Empty;

    private void create()
    {
        lobby.AddGame(gameName, CurrentUserService.CurrentUserId);
        gameName = string.Empty;
    }
}
